.App {
  /* text-align: center; */
  /* height: 100%; */
  padding: 20px 20px;
  /* display: flex; */
  /* flex-direction: column; */
  overflow: auto;
}

.app-header {
  padding: 20px 10%;
  /* display: flex; */
}

.app-content {
  padding: 20px 10%;
  /* display: flex; */
  /* flex-direction: row; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
